@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;700&family=Roboto:wght@200;300;400;700&display=swap");

body {
  font-family: "Roboto", "Noto Sans KR";
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

div,
ul,
li,
p {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* cursor-style */

.cursor {
  cursor: pointer;
}

/* font-style */

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.38;
  margin-bottom: 16px;
}

.sub-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.38;
  margin-bottom: 16px;
}

.desc {
  font-weight: 300;
  line-height: 1.38;
}

/* btn-style */

.more {
  display: inline-block;
  padding: 20px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
}

.more-box {
  display: block;
  width: 120px;
  line-height: 1.38;
  margin: 60px 0 0 0;
  padding: 10px 0;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(179, 179, 179);
  text-align: center;
}

/* color-style */

.c-wh {
  color: rgb(255, 255, 255);
}

.c-b {
  color: rgb(0, 0, 0);
}
